*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 14px;
    --red: rgb(235, 162, 162);
    --blue: rgb(147, 147, 171);
}

body{
    display: flex;
    overflow: hidden;
    height: 100vh;
}
.hero-image{
    background-color: var(--blue);
    flex: 1;
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    height: 148px;
    margin-top: 132px;
    font-size: 3rem;
}
.content{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    flex: 2;
}
.hero-text{
    height: 280px;
    display: flex;
    justify-content: center;
    padding: 64px;
    align-items: center;
    font-size: 1.2rem;
}
.form{
    background-color: rgb(237, 237, 237);
    padding: 24px 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.206);
}
form {
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow:auto;
}
.form > * {
    margin-left: 20px;
}
input {
 margin-bottom: 24px;
 margin-right: 50px;
 height: 28px;
 padding-left: 6px;
 border: solid 1px rgb(178, 178, 178);
 border-radius: 4px;
}
.form>h2{
    margin-bottom: 24px;
}
.footer{
    margin-top: auto;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
}
.create-account-button{
    border: none;
    width: 250px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 8px;
    margin: 24px 24px;
    font-size: 1.2rem;
    cursor: pointer;
}
.log-in{
    display: flex;
    margin-left: 24px;
    align-items: center;
}
.log-in-button{
    border: none;
    margin-left: 12px;
    background: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.input{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.row{
    display: flex;
}