*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 14px;
    --lobster: rgb(242, 141, 141);
}

body{
    display: flex;
    overflow: hidden;
    height: 100vh;
}
a {
    color: white;
    margin: 0px 2px;
}

.hero-image{
    background: url(images/lobster.jpeg);
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    height: 170px;
    margin-top: 112px;
    font-size: 4rem;
    font-family: 'Italiana', sans-serif;
    color: rgb(44, 44, 44);
}
.content{
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);
    flex: 2;
}
.hero-text{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 64px;
    gap: 24px;
    font-size: 1.2rem;
    color: rgb(48, 48, 48);
}

.italic{
    font-style: italic;
}
.form{
    background-color: rgb(255, 255, 255);
    padding: 24px 0px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.206);
}
form {
    display: flex;
    flex-direction: column;
    width: 70%;
    font-size: 0.9rem;
}
.form > * {
    margin-left: 64px;
}
input {
 margin-bottom: 24px;
 margin-right: 50px;
 margin-top: 4px;
 height: 28px;
 padding-left: 6px;
 border: solid 1px rgb(178, 178, 178);
 border-radius: 4px;
}
input:focus {
    border: 1px solid rgb(163, 194, 255);
    outline: none;
}

form.submitted input:invalid{
    border-color: var(--lobster);
}

.form>h2{
    margin-bottom: 24px;
    font-family: 'Merriweather', serif;
}
.footer{
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
}
.hero-image>.footer{
    background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.565));
}
.create-account-button{
    border: none;
    width: 160px;
    height: 42px;
    background-color: var(--lobster);
    border-radius: 8px;
    margin: 24px 64px;
    cursor: pointer;
    font-family: 'Merriweather', serif;
    color: white;
}

.create-account-button:hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.log-in {
    display: flex;
    margin-left: 64px;
    align-items: center;
    font-family: 'Merriweather', serif;
}
.log-in-button{
    border: none;
    margin-left: 12px;
    background: none;
    cursor: pointer;
    font-family: 'Merriweather', serif;
    color: var(--lobster);
}
.log-in-button:hover{
    text-decoration: underline;
}
.input{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.row{
    display: flex;
}

.clause{
    font-size: 0.8rem;
    font-style: italic;
    opacity: 70%;
}

.credits {
    color: white;
}

.bullet {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    opacity: 70%;
}
